version: 2.1
# orbs:
# node: circleci/node@4.7

# define the job to be used in the owrkflow
jobs:
  client-job1:
    docker:
      - image: cimg/node:17.6.0
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    # - node/test:
    # version: "16.10"
    # pkg-manager: yarn
    working_directory: ~/repo
    steps:
      # checkout is alias for git clone
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock"}}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Install dependencies
          # working_directory: packages/client
          command: yarn install

      # - run:
      #     name: "run unit test"
      #     working_directory: packages/client
      #     command: |
      #       yarn test

      - run:
          name: start server, start Next app, and run cypress
          working_directory: /packages/server
          command: |
          
#       run a server
            tsc
            yarn start:ci 
            cd ../vulcan
#       run a client and cypress            
            yarn cp:run

      # name: "run integration test"
      # command: |
      # yarn cypress run --project ./spec

      # save test results
      # - store_artifacts:
      # path: vulcan/spec/cypress/videos
      # - store_artifacts:
      # path: vulcan/spec/cypress/screenshots
      # - run:
      - run:
          name: Build Next.JS App
          working_directory: packages/client
          command: yarn build
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - ./.next/cache

      # - run:
      #     name: "deploy to vercel"
      #     working_directory: packages/client
      #     command: |
      #       yarn ci:vercel
      #       curl -X POSTT $VERCEL_DEPLOY_HOOK_PROD
      #     filters:
      #       branches:
      #         only: master

      # deploy test-master branch, VVERCEL_DEPLOY_HOOK_TEST is where the test.cookknow.com is
      - run:
          name: "deploy a test-master branch to test.cookknow.com"
          working_directory: packages/client
          command: |
            curl -X POST $VERCEL_DEPLOY_HOOK_TEST
          filters:
            branches:
              only: test-master

# workflow will run the job. I can define the jobs first then run by jobs name
workflows:
  client-workflow:
    jobs:
      - client-job1
#test
